:root {
    --cor-de-fundo: #050a55;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba

}

.section{
    background-color: #050a55;
    height: 500px;
    width: 900px;
}